<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Checkpoint - Login</title>
        <link rel="stylesheet" type="text/css" href="css/estilo2.css">
        <link rel="shorcut icon" href="img/logocheck.png">
    </head>
    <body>
        <main class="geral">
            <h1 class="titulo">Login</h1>
            <h2 class="subtitulo">Faça o login ou cadastre-se</h2>
            <form class="requisitos" action="index.php?pagina=home" method="post">
                <label for="usuario">Usuário</label>
                <input type="text" name="usuario" id="usuario" required><br>

                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" required><br>

                <input type="submit" value="Entrar" >
            </form>
            <form class="cadastro" action="index.php?pagina=cadastro" method="post">
                <input type="submit" value="Fazer cadastro">
            </form>

        </main>
    </body>
</html>
