<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="shorcut icon" href="img/logocheck.png">
        <link rel="stylesheet" type="text/css" href="css/estilo.css">
        <meta name="Author" content="Kind557plane/Henrique">
        <meta name="keywords" content="nota, jogo, avaliação">
        <meta name="robots" content="all">
        <meta name="robots" content="index, nofollow">
        <meta name="robots" content="noindex, follow">
        <title>Checkpoint - Início</title>
    </head>
    <body>
        <main class="geral">
            <header class="topo">
                <h1 class="titulo">Checkpoint</h1>
            </header>
            <nav class="menu">
                <ul>
                    <li><a href="#Catalogo">Catálogo</a></li>
                    <li><a href="#Mobile">Mobile</a></li>
                    <li><a href="#Playstation">Playstation</a></li>
                    <li><a href="#Xbox">Xbox</a></li>
                    <li><a href="#PC">PC</a></li>
                    <li><a href="#Switch">Nintendo</a></li>
                    <li><a href="#Apresentação">Quem somos</a></li>
                </ul>
            </nav>
            <section class="Catalogo" id="Catalogo">
                <figure class="galeria">
                    <h2 class="subtitulo">Catálogo</h2>
                    <table class="conteudo">
                        <tr>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=brawlstars">
                                    <img src="img/brawlstars.jpeg" alt="Brawl Stars">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=rocketleague">
                                    <img src="img/rocketleague.jpeg" alt="Rocket League">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=spiderman">
                                    <img src="img/spiderman.jpeg" alt="Spider Man">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=horizonzerodawn">
                                    <img src="img/horizonzerodawn.jpeg" alt="Horizon Zero Dawn">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=minecraft">
                                    <img src="img/minecraft.jpeg" alt="Minecraft">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=amongus">
                                    <img src="img/amongus.jpeg" alt="Among Us">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=subnautica">
                                    <img src="img/subnautica.jpeg" alt="Subnautica">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=stardewvalley">
                                    <img src="img/stardewvalley.jpeg" alt="Stardew Valley">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=stray">
                                    <img src="img/stray.jpeg" alt="Stray">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=legosupermarvel">
                                    <img src="img/legosupermarvel.jpeg" alt="Lego Marvel Super Heroes">
                                </a>
                            </td>
                        </tr>
                    </table>
                </figure>
            </section>
            <section class="Mobile" id="Mobile">
                <figure class="galeria">
                    <h2 class="subtitulo">Mobile</h2>
                    <table class="conteudo">
                        <tr>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=brawlstars">
                                    <img src="img/brawlstars.jpeg" alt="Brawl Stars">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=amongus">
                                    <img src="img/amongus.jpeg" alt="Among Us">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=minecraft">
                                    <img src="img/minecraft.jpeg" alt="Minecraft">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=subnautica">
                                    <img src="img/subnautica.jpeg" alt="Subnautica">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=stardewvalley">
                                    <img src="img/stardewvalley.jpeg" alt="Stardew Valley">
                                </a>
                            </td>
                        </tr>
                    </table>
                </figure>
            </section>
            <section class="Playstation" id="Playstation">
                <figure class="galeria">
                    <h2 class="subtitulo">Playstation</h2>
                    <table class="conteudo">
                        <tr>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=rocketleague">
                                    <img src="img/rocketleague.jpeg" alt="Rocket League">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=spiderman">
                                    <img src="img/spiderman.jpeg" alt="Spider Man">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=horizonzerodawn">
                                    <img src="img/horizonzerodawn.jpeg" alt="Horizon Zero Dawn">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=minecraft">
                                    <img src="img/minecraft.jpeg" alt="Minecraft">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=amongus">
                                    <img src="img/amongus.jpeg" alt="Among Us">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=subnautica">
                                    <img src="img/subnautica.jpeg" alt="Subnautica">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=stardewvalley">
                                    <img src="img/stray.jpeg" alt="Stray">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=legosupermarvel">
                                    <img src="img/legosupermarvel.jpeg" alt="Lego Marvel Super Heroes">
                                </a>
                            </td>
                        </tr>
                    </table>
                </figure>
            </section>
            <section class="Xbox" id="Xbox">
                <figure class="galeria">
                    <h2 class="subtitulo">Xbox</h2>
                    <table class="conteudo">
                        <tr>
                            <td>
                                <a href="/Checkpoint/public/?pagina=avaliacao&nome=rocketleague">
                                    <img src="img/rocketleague.jpeg" alt="Rocket League">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=minecraft">
                                    <img src="img/minecraft.jpeg" alt="Minecraft">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=amongus">
                                    <img src="img/amongus.jpeg" alt="Among Us">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=subnautica">
                                    <img src="img/subnautica.jpeg" alt="Subnautica">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=stardewvalley">
                                    <img src="img/stardewvalley.jpeg" alt="Stardew Valley">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=stray">
                                    <img src="img/stray.jpeg" alt="Stray">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=legosupermarvel">
                                    <img src="img/legosupermarvel.jpeg" alt="Lego Marvel Super Heroes">
                                </a>
                            </td>
                        </tr>
                    </table>
                </figure>
            </section>
            <section class="PC" id="PC">
                <figure class="galeria">
                    <h2 class="subtitulo">PC</h2>
                    <table class="conteudo">
                        <tr>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=rocketleague">
                                    <img src="img/rocketleague.jpeg" alt="Rocket League">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=spiderman">
                                    <img src="img/spiderman.jpeg" alt="Spider Man">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=horizonzerodawn">
                                    <img src="img/horizonzerodawn.jpeg" alt="Horizon Zero Dawn">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=minecraft">
                                    <img src="img/minecraft.jpeg" alt="Minecraft">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=amongus">
                                    <img src="img/amongus.jpeg" alt="Among Us">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=subnautica">
                                    <img src="img/subnautica.jpeg" alt="Subnautica">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=stardewvalley">
                                    <img src="img/stardewvalley.jpeg" alt="Stardew Valley">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=stray">
                                    <img src="img/stray.jpeg" alt="Stray">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=legosupermarvel">
                                    <img src="img/legosupermarvel.jpeg" alt="Lego Marvel Super Heroes">
                                </a>
                            </td>
                        </tr>
                    </table>
                </figure>
            </section>
            <section class="Switch" id="Switch">
                <figure class="galeria">
                    <h2 class="subtitulo">Nintendo</h2>
                    <table>
                        <tr>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=rocketleague">
                                    <img src="img/rocketleague.jpeg" alt="Rocket League">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=minecraft">
                                    <img src="img/minecraft.jpeg" alt="Minecraft">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=amongus">
                                    <img src="img/amongus.jpeg" alt="Among Us">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=stray">
                                    <img src="img/stray.jpeg" alt="Stray">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=stardewvalley">
                                    <img src="img/stardewvalley.jpeg" alt="Stardew Valley">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=subnautica">
                                    <img src="img/subnautica.jpeg" alt="Subnautica">
                                </a>
                            </td>
                            <td>
                                <a href="/../Checkpoint/public/index.php?pagina=avaliacao&nome=legosupermarvel">
                                    <img src="img/legosupermarvel.jpeg" alt="Lego Marvel Super Heroes">
                                </a>
                            </td>
                        </tr>
                    </table>
                </figure>
            </section>
            <section class="Apresentação" id="Apresentação">
                <aside class="QuemSomos">
                    <h2 class="subtitulo">Quem Somos</h2>
                    <p>Somos apaixonados por jogos - simples assim.</p>
                    <p>Aqui na <i>Checkpoint</i>, oferecemos avaliações justas, diretas e sem enrolação
                sobre os mais diversos tipos de jogos. Avaliações feitas por jogadores iguais a você,
             seja você um jogador casual de final de semana ou um jogador hardcore, aqui você encontra
             opiniões feitas por quem realmente joga.</p>
                    <p>Queremos te ajudar a escolher bem e a aproveitar ao máximo seu tempo de jogo. </p>
                </aside>
            </section>
        </main>
    <footer class="rodape">
        <hr>
        <h4> 2025 - Projeto Checkpoint </h4>
    </footer>
    </body>
</html>